/* Overall Section Styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: white;
}

body {
	background-color: #d9dcd6;
}

/* General element styles */
h1 {
	font-size: 48px;
}

h2 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 36px;
}

h3 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 24px;
	font-weight: 400;
}

p {
	font-size: 16px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* header styles */
/* header format */
header {
	padding: 20px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	background-color: #2a607c;
}

/* header component styles */
#page-title {
	display: inline-block;
}

#seo {
	color: #d9dcd6;
}

nav {
	padding-top: 15px;
	margin-right: 20px;
	float: right;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 20px;
}

.nav-item {
	display: inline-block;
	margin-left: 25px;
	text-decoration: none;
}

/* cover image styles */
#hero {
	height: auto;
	width: 100%;
	margin-bottom: 25px;
}

/* content-left section styles */
/* content-left format */
.content-left {
	width: 75%;
	display: inline-block;
	margin-left: 20px;
}

/* content-left article styles */
.content-left-article {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
	background-color: #0072bb;
}

/* content-left heading styles */
.content-left-article h2 {
	margin-bottom: 20px;
}

/* content-left image styles */
.float-left {
	float: left;
	margin-right: 25px;
	max-height: 200px;
}

.float-right {
	float: right;
	margin-left: 25px;
	max-height: 200px;
}

/* content-right section styles */
/* content-right format */
.content-right {
	margin-right: 20px;
	padding: 20px;
	clear: both;
	float: right;
	width: 20%;
	height: 100%;
	background-color: #2589bd;
}

/* content-right article styles */
.content-right-article {
	margin-bottom: 32px;
}

/* content-right heading styles */
#content-right-title {
	margin-bottom: 15px;
	text-align: center;
}

.content-right-article h3 {
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

/* content-right image styles */
.content-right-article img {
	display: block;
	margin: 10px auto;
	max-width: 150px;
}

/* footer styles */
footer {
	padding: 30px;
	clear: both;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-align: center;
}
.footer-text {
	color: black;
}
